*{
    margin: 0;
    padding:0;

}

.navbar{
    background-color: rgb(162, 65, 231);
    padding: 10px;
    font-size: 15px;
    font-family: "Mochiy Pop P One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.pen{
    margin-left: 2px;
}
.container{
    padding: 10px;
}
.header{
    background-color:  rgb(162, 65, 231);
    border-radius: 5px;
}
.book-container{
    width: 20%;
    padding: 10px;
    background-color: rgba(85, 0, 255, 0.263);
    border-radius: 5px;
    margin: 20px;
    display: inline-block;
    vertical-align: top;
}
.book-container h3{
    color: rgb(8, 8, 8);
    font-weight: bolder;
    text-align: center;
}
.book-container p{
    color: rgb(77, 17, 133);
    font-family: "Times New Roman", Times, serif;
    
}
.book-container h5{
    font-style:oblique;
    color:  rgb(8, 8, 8);
    text-align: center;
}
.book-container button{
    margin-top: 10px;
    background-color:rgb(162, 65, 231);
    border-radius: 5px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    color: rgb(8, 8, 8) ;
    display: inline-block;
    
    
}
.add-button{
    border-radius: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 26px;
    padding-right: 26px;
    border: none;
    background-color: rgb(162, 65, 231);
    font-size: 40px;
    right: 50px;
    bottom: 20px;
    position: fixed;
}
.popup-overlay{
    background-color: rgba(0, 0, 0, 0.858);
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
.popup-box{
    background-color: rgba(181, 110, 235, 0.982);
    width: 35%;
    padding: 40px;
    position: absolute;
    border-radius: 10px;
    top: 30%;
    left: 30%;
    z-index: 2;
    display: none;
}
.popup-box h2{
    text-align: center;
}
.popup-box input{
    width: 100%;
   padding: 15px;
   border-radius: 5px;
   border:none ;
   margin-top: 10px;
   background-color: rgb(219, 188, 248);

}
.popup-box textarea{
    width: 100%;
   padding: 15px;
   border-radius: 5px;
   border:none ;
   margin-top: 10px;
   background-color: rgb(219, 188, 248);

}
.popup-box button{
    margin-top: 10px;
    background-color:rgb(162, 65, 231);
    border-radius: 5px;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    color: rgb(8, 8, 8) ;
    display: inline-block;
}
.popup-box input:focus{
    outline: none;
}
.popup-box textarea:focus{
    outline: none;
}